@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #272829;
}
.main-header{
    background-color: #322653;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
}
.main-header h1{
    padding: 20px 32px;
}
.icon{
    width: 35px;
}